<!--
    /*
 *
 * Copyright © 2006-2017 TenaCareeHMIS  software, by The Administrators of the Tulane Educational Fund,
 * dba Tulane University, Center for Global Health Equity is distributed under the GNU General Public License(GPL).
 * All rights reserved.

 * This file is part of TenaCareeHMIS
 * TenaCareeHMIS is free software:
 *
 * you can redistribute it and/or modify it under the terms of the
 * GNU General Public License as published by the Free Software Foundation,
 * version 3 of the License, or any later version.
 * TenaCareeHMIS is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License along with TenaCareeHMIS.
 * If not, see http://www.gnu.org/licenses/.
 *
 *
 */

-->


<body ng-app="eHMISApp" ng-controller="addFacility">
      
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">{{manageFacilities['addNewInstitution']}}</h2>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-4">
                        <label for="xsName" style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray"> {{manageFacilities['enterInstitutionName']}}: </label><br />
                        <input type="text" name="name" ng-model="institutionName" class="form-control" id="xsName" /><br />
                    </div>
                    <div class="col-xs-4">
                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{manageFacilities['region']}}</label><br />
                        <select class="form-control" data-ng-options="r.name for r in regionNames" data-ng-model="selectedRegion" ng-change="SelectCorrspondingZone(selectedRegion)"></select>

                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{manageFacilities['zone']}}</label><br />
                        <select class="form-control" data-ng-options="z.name for z in zoneNames" data-ng-model="selectedZone" ng-change="SelectCorrspondingWoreda(selectedZone)"></select>

                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{manageFacilities['woreda']}}</label><br />
                        <select class="form-control" data-ng-options="w.name for w in woredaNames" data-ng-model="selectedWoreda"></select>

                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{manageFacilities['institutionType']}}</label><br />
                        <select class="form-control" data-ng-options="i.name for i in institutionTypes" data-ng-model="selectedInstitutionType" ng-change="SelectNextLevel(selectedInstitutionType, selectedWoreda)"></select>

                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{manageFacilities['facilityOwner']}}</label><br />
                        <select class="form-control" data-ng-options="f.name for f in facilityOwners" data-ng-model="selectedFacilityOwner"></select>

                        <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{ReportingLevel}}</label><br />
                        <select class="form-control" data-ng-options="l.name for l in reportingLevels" data-ng-model="selectedReportingLevel"></select>
                        <span ng-show="showHealthTypeOption">
                            <label style="font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:dimgray">{{healthType}}</label><br />
                            <select class="form-control" data-ng-options="c.name for c in contentTypes" data-ng-model="selectedHealthType"></select>
                         </span><br/>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-success" id="save_facility" ng-click="insertNewInstitution(institutionName, selectedRegion, selectedZone, selectedWoreda, selectedInstitutionType, selectedFacilityOwner, selectedReportingLevel, selectedHealthType)">
                                <i class="glyphicon glyphicon-plus-sign"></i> {{manageFacilities['addInstitution']}}
                            </button>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>